*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f9fc;
    font-family: sans-serif;
    outline: none;
}

html{
    font-size: 62.5%;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: large;

}
  .calculator{
      background-color: #ecf0fe;
      box-shadow: inset 5px 5px 12px #fff , 
                        5px 5px 12px rgba(0,0,0,.16);
      border-radius: 2rem; 
      padding: 1.5rem; 
      display: grid;  
      grid-template-columns: repeat(4,70px); 
    }
input{
    grid-column: span 4;
    height: 70px;
    width: 270px;
    box-shadow: inset -5px -5px 12px #fff,
                inset 5px 5px 12px rgba(0,0,0,.16);
    text-align: right;
    margin: auto;
    margin: 4rem 0;
    border: none;
    padding: 2rem;
    font-size: 3rem;
    border-radius: 1rem;
}
button{
    height: 5rem;
    width: 5rem;
    border: none;
    box-shadow: -5px -5px 13px rgb(223, 221, 248),
                5px 5px 13px rgba(0, 0, 0, 0.2);
    border-radius: 5rem; 
    margin: 10px; 
    font-size: 1.7rem;      
}
.equal{
    width: 115px;
    border-radius: 50px;
}

button:active{
    box-shadow:inset -5px -5px 12px #fff,
    inset 5px 5px 12px rgba(0,0,0,.16) ;
}
